name: "emscripten deploy"
on:
  workflow_run:
    workflows: ["emscripten build"]
    types:
      - completed
    branches:
      - main 

permissions:
  contents: read
  pages: write
  id-token: write
  actions: read

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
        
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: RobotPalWeb
          path: ./RobotPalWeb
          github-token: ${{ secrets.ROBOTPAL_PAT }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Display structure of downloaded files
        run: ls -R ./RobotPalWeb

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./RobotPalWeb

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4